<head class="head"></head>
<body class="body">
  <div class="header1"><h1>Teacher Assistant</h1></div>
  <div class="menu-container">
  
    <input type="checkbox" id="openmenu" class="menuicon-checkbox">
    
    <div class="menuicon-icon">
      <label for="openmenu" id="menuicon-label">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </label>    
    </div>
  
      <div class="menu-panel">
        
        <nav>
          <ul class="menu-links">
            <li><a href="###">Sign in</a><span id="Sign in">
              <p>Sign in</p>
              </span></li>>
            <li><a href="###">Sign up</a>
              <span id="Sign up">
              <p>Register your account</p>
            </span></li>
            <li><a href="###">Courses</a>
              <span id="Cousres">
              <p>courses</p>
            </span></li>
            <li><a href="###">Homework</a>
              <span id="homwerok">
              <p>Do you Homework doe</p>
            </span></li>
            <li><a href="###">Contacts</a>
              <span id="contacts">
              <p>connect with others</p>
            </span></li>
          </ul>
          
          
        </nav>
      </div>
  </div>
</body>